body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/img/3. Background/Legacy/Layers/5. Water/L2.png');
    background-repeat: no-repeat;
}

canvas {
    background-color: black;
}