@font-face {
  font-family: LuckiestGuy;
  src: url("./assets/font/LuckiestGuy-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/img/3. Background/Legacy/Layers/5. Water/L2.png');
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'LuckiestGuy';
    height: 100vh;
}

canvas {
    background-color: black;
    display: block;
    width: 100%;
    height: 100%;
}

footer {
    flex: 1 1 auto;
}

#canvas_container {
    position: relative;
}

#up_button {
    background-image: url('./assets/img/buttons/up_button.png');
}

#left_button {
    background-image: url('./assets/img/buttons/left_button.png');
}

#down_button {
    background-image: url('./assets/img/buttons/down_button.png');
}

#right_button {
    background-image: url('./assets/img/buttons/right_button.png');
}

#slap_button {
    background-image: url('./assets/img/buttons/slap.png');
    transform: rotate(-100deg)
}

#shoot_button {
    background-image: url('./assets/img/buttons/shoot.png');
    transform: rotate(37deg);
}

#restart_img {
    width: 160px;
    height: 30px;
    object-fit: cover;
    border-radius: 40px;
    position: absolute;
    left: 40%;
    right: 0;
    bottom: 25%;
}

#restart_img {
    display: none;
    cursor: pointer;
}

.movement_button {
    background-position: center;
}

.btn_container {
    position: absolute;
    left: 20px;
    bottom: 15px;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

.btn_container button {
    height: 50px;
    width: 50px;
    border-radius: 24px;
    opacity: 0.6;
}

.btn_section_left {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.btn_section_right {
    display: flex;
    gap: 8px;
    position: absolute;
    right: 35px;
    bottom: 24px;
    transform: rotate(142deg);
}

.top {
    display: flex;
    justify-content: center;
}

.fullscreen_button {
    width: 100px;
    height: 24px;
    cursor: pointer;
}

#turn_device_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: orange;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    font-size: 24px;
    text-align: center;
}

#start_screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/img/3. Background/Mesa de trabajo 1.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start_screen img {
    width: 250px;
    cursor: pointer;
}

#controls_container {
    position: absolute;
    left: 8px;
    bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#controls_container div {
    display: flex;
    align-items: center;
    gap: 16px;
}

#controls_container img {
    width: 100px;
}

.control_image_key {
    width: 40px !important;
}

.game_setting_container {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sound {
    width: 24px;
    cursor: pointer;
}

#mobile_startscreen_headline {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 990;
    width: 100%;
    display: none;
    justify-content: center;
}

.info_container {
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 999;
}

.info_container button {
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.info_container button img {
    width: 32px;
    margin: 4px 0px;
}

#info_popup_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgb(211, 211, 211, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.info_popup_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 50%;
    gap: 16px;
}

.info_popup_content p {
    font-size: 16px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    #headline {
        display: none;
    }

    #mobile_startscreen_headline {
        display: flex;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .btn_container {
        display: flex;
    }

    #headline {
        display: none;
    }

    #mobile_startscreen_headline {
        display: flex;
    }
}